In [1]:
import pandas as pd
import os
%config InlineBackend.figure_format = 'retina'

In [2]:
# Provided data as a list of lists
data = [
    [36.622658, 37, 15, 0],
    [2.10E+05, 7.80E+05, 375, 1.84, 0.32, 0.005],
    [0, 0, 0, 1, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    [1],
    [1]
]

# Convert the data to a DataFrame
df_data = pd.DataFrame(data)

# Formatting function to handle scientific notation and formatting
def format_specific_floats(value):
    if pd.isna(value):
        return ""
    elif value == 0:
        return "0.0"
    elif abs(value) > 1000 or abs(value) < 0.001:
        return f"{value:.1E}"
    else:
        return f"{value:.1f}"

# Apply formatting to the DataFrame
df_data_formatted = df_data.map(format_specific_floats)
formatted_data_txt_file_path = 'eric_site_files/eric_site_file.txt'
df_data_formatted.to_csv(formatted_data_txt_file_path, sep=' ', index=False, header=False)

# Output the file path
formatted_data_txt_file_path

'eric_site_files/eric_site_file.txt'

In [3]:
df_data_formatted

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,36.6,37.0,15.0,0.0,,,,,,,,,,
1,2.1E+05,7.8E+05,375.0,1.8,0.3,0.0,,,,,,,,
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,,,,,,,,,,,,,
5,1.0,,,,,,,,,,,,,